body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(158, 158, 158);
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(172, 172, 172);
}

button {
  background-color: black;
  color: rgb(192, 192, 192);
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

label {
  margin-top: 0.3rem;
  font-size: 1.1rem;
}

button:hover {
  background-color: rgb(64, 64, 64);
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  text-decoration: underline;
}

.link {
  color: black;
  font-size: 1.2rem;
}

.link:hover {
  color: rgb(70, 70, 70);
}

.input-header {
  text-align: center;
}

.subheading {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.center-div {
  display: flex;
  justify-content: center;

}

.button-div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.border-div {
  border: 2px solid black;
}

.home-list-element {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

#nav-bar {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 1rem 0;
  border: 2px dashed black;
}

#pairs-info {
  text-align: center;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem auto;
}

#results-div {
  text-align: center;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem auto;
}

#name {
  text-align: center;
  margin-top: -1rem;
  font-size: 1.2rem;
}

#no-positions {
  margin: -0.5rem 0 0rem 0;
}